html {
    font-family: "Cascadia Mono";
}

body {
    background-color: darkgrey;
}

/*# means it is for the id*/
#p {

}

/*.something means it is for the entire class .something (class is named in atributes)*/
.something {

}

dl {
    background-color: dimgrey;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    margin: 0 auto; /* Center the element horizontally */
    color: whitesmoke;
}

dl div {
    margin: 10px;
}

button {
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}

.list-line {
    color: whitesmoke;
}